.pio
hardware/ltspice_simulation/AnalogPart.docx
hardware/ltspice_simulation/AnalogPart.pdf
hardware/ltspice_simulation/LTspice_drawing.log
hardware/ltspice_simulation/LTspice_drawing.op.raw
hardware/ltspice_simulation/LTspice_drawing.raw
software/.vscode/c_cpp_properties.json
software/.vscode/extensions.json
software/.vscode/launch.json
